{% extends "base.html" %}
{% load static %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
  
{% endblock CSS %}
{% block content %}
  
    <nav class="top-nav">
        <a href="#food-menu">Menu Card</a>
        <a href="#food-menu">
            <img src="https://i.postimg.cc/fTzFMXKj/arrow-down.png" alt="Cardápio">
        </a>
    </nav>
    <section id="home" class="home"></section>
    <div class="container" id="food-menu">
        <h1 class="h1">Menu Card</h1>
        <div class="d-flex justify-content-center">
            <img src="{% static 'images/qr.png' %}"  width="90px" height="90px" alt="">
        </div>
       
        <section class="content-menu">
            <aside class="aside-float">
                <nav class="nav-side">
                    {% for i in category  %}
                      <a href="#{{i.id}}">{{i.title}}<img src="{{i.image.url}}" width="50px" height="50px" class="rounded-circle" alt="{{i.title}}"></a>
                    {% endfor %} 
                </nav>
            </aside>

            <section class="content-side">
            {% for i in category %}
                <section class="items" id="items">
                    <article class="plates" id="{{i.id}}">
                        <div class="header1" style="background-image: url('{{i.image.url}}');">
                            <h1>{{i.title}}</h1>
                        </div>
                        <ul class="menu-items">
                            {% for j in i.items.all  %}
                            <li class="item">
                                <span class="food">{{j.name}}</span>
                                <span class="price">Rs {{j.price}}</span>
                            </li>
                            {% endfor %}
                        </ul>
                    </article>
                </section>
            {% endfor %}
            </section>
        </section>
    </div>

{% endblock content %}