{% extends "base.html" %}
{% load static %}
{% block CSS %}
<link rel="stylesheet" href="{% static 'css/menu.css' %}">
  
{% endblock CSS %}
{% block content %}
  
    <nav class="top-nav">
        <a href="#food-menu">hiii</a>
        <a href="#food-menu">
            <img src="https://i.postimg.cc/fTzFMXKj/arrow-down.png" alt="Cardápio">
        </a>
    </nav>
    <section id="home" class="home"></section>
    <div class="container" id="food-menu">
        <h1 class="h1">Cardápio</h1>
        <section class="content-menu">
            <aside class="aside-float">
                <nav class="nav-side">
                    <a href="#plates">Pratos<img src="https://i.postimg.cc/65MPq3bs/cutlery.png" alt="Pratos"></a>
                    <a href="#drinks">Bebidas<img src="https://i.postimg.cc/mg6KXD73/juice.png" alt="Sucos"></a>
                    <a href="#dessert">Sobremesa<img src="https://i.postimg.cc/0NMFLsCT/piece-of-cake.png" alt="Sobremesa"></a>
                    <a href="#food-menu">Topo<img src="https://i.postimg.cc/nrDLzgZg/arrow-up.png" alt="Voltar ao Topo"></a>
                </nav>
            </aside>
            <section class="content-side">
                <section class="items" id="items">
                    <article class="plates" id="plates">
                        <div class="header1">
                            <h1>Pratos</h1>
                        </div>
                        <ul class="menu-items">
                            <li class="item">
                                <span class="food">Macarronada à Bolonhesa</span>
                                <span class="price">R$ 20</span>
                            </li>
                            <li class="item">
                                <span class="food">Feijoada</span>
                                <span class="price">R$ 25</span>
                            </li>
                            <li class="item">
                                <span class="food">Lasanha</span>
                                <span class="price">R$ 25</span>
                            </li>
                            <li class="item">
                                <span class="food">Bife com Fritas</span>
                                <span class="price">R$ 25</span>
                            </li>
                            <li class="item">
                                <span class="food">Parmegiana de Filé Frango</span>
                                <span class="price">R$ 25</span>
                            </li>
                            <li class="item">
                                <span class="food">Parmegia de Filé Mignon</span>
                                <span class="price">R$ 30</span>
                            </li>
                        </ul>
                    </article>
                </section>
                <section class="items" id="items">
                    <article class="drinks" id="drinks">
                        <div class="header2">
                            <h1>Bebidas</h1>
                        </div>
                        <ul class="menu-items">
                            <li class="item">
                                <span class="food">Refrigerante(Lata)</span>
                                <span class="price">R$ 4</span>
                            </li>
                            <li class="item">
                                <span class="food">Refrigerante(600ml)</span>
                                <span class="price">R$ 6</span>
                            </li>
                            <li class="item">
                                <span class="food">Refrigerante(1 Litro)</span>
                                <span class="price">R$ 9</span>
                            </li>
                            <li class="item">
                                <span class="food">Suco(Copo)</span>
                                <span class="price">R$ 4</span>
                            </li>
                            <li class="item">
                                <span class="food">Vinho</span>
                                <span class="price">R$ 10</span>
                            </li>
                        </ul>
                    </article>
                </section>
                <section class="items" id="items">
                    <article class="drinks" id="dessert">
                        <div class="header3">
                            <h1>Sobremesas</h1>
                        </div>
                        <ul class="menu-items">
                            <li class="item">
                                <span class="food">Arroz Doce</span>
                                <span class="price">R$ 4</span>
                            </li>
                            <li class="item">
                                <span class="food">Bolo(Fatia)</span>
                                <span class="price">R$ 5</span>
                            </li>
                            <li class="item">
                                <span class="food">Mousse(Sabores)</span>
                                <span class="price">R$ 4</span>
                            </li>
                            <li class="item">
                                <span class="food">Pavê de Pêssego</span>
                                <span class="price">R$ 5</span>
                            </li>
                            <li class="item">
                                <span class="food">Torta de Morango</span>
                                <span class="price">R$ 5</span>
                            </li>
                            <li class="item">
                                <span class="food">Torta Alemã</span>
                                <span class="price">R$ 5</span>
                            </li>
                        </ul>
                    </article>
                </section>
            </section>
        </section>
    </div>

{% endblock content %}